.premier-title {
    @extend %title-style-1;
    font-size: 90px;
}

.table {
    background-color: map-get($palette-1, "background");
    color: white;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    & tbody{
        background-color: #575e6b;
        tr:hover{
            color: #FFFFFF;
            text-shadow: 0 0 10px #FFFFFF;

            animation-name: table-hover;
            animation-duration: 400ms;
            animation-delay: 0s;
            animation-iteration-count: 1;
        }
    }
}


.selection-pad {
    padding-top: 31px;
    padding-bottom: 31px;
}
.selection-pad-2 {
    padding-top: 31px;
}

.form{
    &-control{
        border: map-get($palette-1, "background") 3px solid;
        border-radius: 5px;
    }
    &-select{
        border: map-get($palette-1, "background") 3px solid;
        border-radius: 5px;
    }

}

.btn{
    &:hover{
        background-color: map-get($palette-1, "background");
        color: map-get($palette-1 , "purchase" );
    }
    &-color{
        background-color: map-get($palette-1, "background" );
        color: #FFFFFF;
    }
    &-place{
        margin: 20px;
    }
}

.checkmark__circle{
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: map-get($palette-1 , "purchase");
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards
}
.checkmark{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 10% auto;
    box-shadow: inset 0px 0px 0px map-get($palette-1 , "purchase");
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}
.checkmark__check{
    transform-origin: 50% 50%;stroke-dasharray: 48;stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

.seats{
    font-size: 25px;
    color: map-get($palette-1, "background" );
    &-row{
        padding: 0px;
        margin: 0px;
    }
    &-container{
        padding: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-center{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }
    &-placement{
        display: flex;
        padding: 0px;
        &-side-left{
            display: flex;
            padding: 0px;
        }
    }
    &-empty{
       color: map-get($palette-1, "clear" );
    }
    &-taken{
        color: map-get($palette-1,"taken" );
    }
    &-select{
        color: map-get($palette-1, "purchase" );
    }
    
}

.screen{
    width: 600px;
    height: 10px;
    background-color: map-get($palette-1, "background" );
    border-radius: 5px;
    margin-bottom: 100px;
}

@media (min-width: 375px) and (max-width:768px) {
    .seats{
        font-size: 25px;
        &-row{
            padding: 0px;
            margin: 0px;
            overflow-x: scroll;
        }
        &-container{
            padding: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &-center{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0px;
        }
        &-placement{
            display: flex;
            padding: 0px;
            &-side-left{
                display: flex;
                padding: 0px;
                overflow-x: hidden;
            }
        }
        &-clear{
           color: rgba(255, 255, 255, 0);
        }
    }
}