.review-title {
    @extend %title-style-1;
}

.reviews {
    margin-top: 20px;
    margin-bottom: 20px;
    &-shadow{
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    }
    &-titles{
        text-align: start;
        color: white;
        padding: 10px;
    }
    &-block{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #575e6b;
        border-radius: 20px 20px 20px 20px;
    }
    &-img{
        width: 100%;
        object-fit: cover;
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 15px;
    }
    &-text{
        font-size: 30px;
    }
}

.review-dot-0 {
    color: white;
    font-size: 40px;
    padding: 5px;
}

.review-dot-1 {
    color: #ffaa00;
    font-size: 40px;
    padding: 5px;
}
