.trailer-title {
    @extend %title-style-1;
}


.trailers {
    margin-top: 20px;
    margin-bottom: 20px;
    
    &-vid-1{
        width: 100%;
        height: 600px;
        border: #8D99AE solid 2px;
    }
    &-vid-2{
        width: 100%;
        height: 350px;
        border: #8D99AE solid 2px;
    }
    &-title{
        padding: 10px;
    }
}
