.footer{
    position: sticky;
&-text{
    text-align: center;
}
&-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    & ul{
        display: flex;
        li{
            padding: 10px;
        }
    }
}
&-links{
    color: white;
}
&-links:hover{
    animation-name: link-move;
    animation-duration: 300ms;
    animation-delay: 0s;
    animation-iteration-count: 1;
}
}