.hero {
    background: black url(../img/hero.gif) center / cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    &-text{
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 100px;
    
        animation-name: move-title;
        animation-duration: 5s;
        animation-delay: 0s;
        animation-iteration-count: 1;
    }
    &-title{
        font-size: 100px;
    }
    &-sub-text{
        font-size: 40%;
    }
}




