@keyframes table-hover {
    0% {
        text-shadow: none;
    }

    100% {
        text-shadow: 0 0 10px #FFFFFF;
    }

}

@keyframes move-title {
    0% {
        color: rgba(255, 255, 255, 0);
    }

    100% {
        color: #EDF2F4;
    }
}

@keyframes link-move { 
    0% {
        color: white;
    }
    100%{
        color: #00b4d8;
    }
    
}

@keyframes stroke{
    100%{stroke-dashoffset: 0}
}
@keyframes scale{
    0%, 100%{transform: none}
    50%{transform: scale3d(1.1, 1.1, 1)}
}
@keyframes fill{
    100%{box-shadow: inset 0px 0px 0px 30px map-get($palette-1 , "purchase")}
}