@keyframes table-hover {
    0% {
        text-shadow: none;
    }

    100% {
        text-shadow: 0 0 10px #FFFFFF;
    }

}

@keyframes move-title {
    0% {
        color: rgba(255, 255, 255, 0);
    }

    100% {
        color: #EDF2F4;
    }
}

@keyframes link-move { 
    0% {
        color: white;
    }
    100%{
        color: #00b4d8;
    }
    
}